@use 'home'
$breakpoint: 768px

.flex
   display: flex
   flex-wrap: wrap

.characterCard
   @include home.neonBorders
   align-items: center
   justify-content: space-evenly

.characterCard:hover
   background-color: #033330
   cursor: pointer

.imageCharacter
   max-width: 100%
   max-height: 100%
   object-fit: cover
   border-radius: 5%

.name
   color: white
   font-size: 5vmin

.sectionInfo
   width: fit-content
   margin: 4%

@media (min-width: $breakpoint)
   div
      @include home.neonBorders
