@use 'home'

.nav
   background-color: black
   opacity: 0.8
   height: 400px
   text-align: center
   @include home.neonBorders

.navbarImg
   object-fit: contain
   @include home.imagesSize

.backGroundImg
   width: 100%
   height: 100%
   position: fixed
   left: 0px
   top: 0px
   z-index: -1
   opacity: 0.2

body
   background-color: black
